<div class="container" style="margin-top:50px">
<form #emailForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="field">
    <label>Enter Your Email</label>
  <input  [ngClass]="{'is-danger':emailControl.invalid&&emailControl.touched}" class="input" type="email" name="email" pattern=".+@.+\..+" [(ngModel)]="email" required #emailControl="ngModel">
  <ng-container *ngIf="emailControl.invalid && emailControl.touched">
    <div  class="help is-danger" *ngIf="emailControl.errors.required">
      please enter your email is required
    </div>
    <div  class="help is-danger" *ngIf="emailControl.errors.pattern">
      please enter vaild email
    </div>
  </ng-container>
  </div>
  <button [disabled]="emailForm.invalid" class="button is-primary">Submit</button>
</form>
</div>
<hr>

<!-- <div>
  Form is Valid:   {{emailForm.valid}}
</div>
<div>
  Forms Value : {{emailForm.value|json}}
</div>
<div>
  Email Validations Error : {{emailForm.controls.email.errors|json}}
</div> -->
